.line {
    height: 1px;
    width: 100%;
    background-color: #ccc;
}












.login {
    background-color: #000;
    height: 680px;
    width: 100%;
    color: #fff;

    .container {
    height: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    }



  
    .logo {


        img {
            width: 450px;
            border: 1px solid #000;
            mix-blend-mode: hard-light;
        }
    }



    .inputs__login .main-box__input {
        background-color: #ffffff;
        width: 385px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 12px;
        padding-bottom: 20px;




    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px 15px;
        border-radius: 9px;


        input {
            padding:  15px;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-size: 15px;
            transition: .3s ease-out;
            font-family: var(--main-font);
        }

        input:focus {
            outline: none;
            border: 1px solid #0866ff;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        

        [type="submit"] {
            background-color: #1877f2;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
        }

        p {
            text-align: center;
            margin: 8px 0;
            font-family: var(--main-font);

            a {
                color: #1877f2;
                font-family: var(--main-font);
            }
        }

    }
  }  
}


.inputs__login  bottom {
    display: block;
    background-color: #42b72a;
    width: 50%;
    margin: auto ;
    padding: 15px 10px;
    border-radius: 9px;
    text-align: center;
    cursor: pointer;

    a {
        color: #fff;
        font-weight: bold;
    }
}


.inputs__login p.link-create {
    font-size: 14px;
    text-align: center;
    width: 380px;
    margin-top: 30px;
    font-family: var(--main-font);


    a {
        color: #fff;
        font-size: 15px;
        font-weight: bolder;
        transition: .2s ease-out;
        font-family: var(--main-font);
    }

    a:hover {
        color: #0866ff;
        border-bottom: 1px solid #0866ff;
    }
}


@media (max-width:900px) {
    .login {

        .container {
            display: flex;
            flex-direction: column;

            .logo img {
                width: 200px;
            }
        }

        .registration {
            width: 80%;
        }

    }
}

@media (max-width:400px) {
    .inputs__login .main-box__input {
        width: 300px !important;
        margin: auto;
    }

    .inputs__login p.link-create {
        width: 300px;
    }

    .login .text p  {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .inputs__login bottom a{
        font-size: 14px;
        font-weight: normal;
    }
}



//=============> style modal <=================//  

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background-color: rgb(253 253 253 / 30%);;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}
.registration {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 3px;
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    height: 85vh;
    min-height: 300px;
    border-radius: 9px;
}




.modal .registration .dis {
    display: flex;
    justify-content: start;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 500;


 

    

    span {
    cursor: pointer;
    color: #fff;
    font-size: 31px;
    display: block;
    margin-right: 20px;
    }
}



//===============>style registration in modal <==========//
.registration {
    min-height: 450px;

    .input__registration {
        overflow-y: auto;
        height: 65%;

        .box {
             width: 80%;
             margin: auto;  
        }


        h3 {
            margin: 10px 0;
        }



            span {
                position: absolute;
                color: #6a6f74;
                font-size: 19px;
            }

            input {
                width: 100%;
                background-color: transparent;
                border: 1px solid transparent;
                color: #fff;
                border: 1px solid #cccccc7a;
                transition: .3s ease-out;
                border-radius: 6px;
                padding: 15px 10px;
                font-size: 18px;
                margin-top: 20px;
            }

            input:focus {
                outline: none;
                border-color: #0866ff;
            }
        }

        .title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
            color: #e7e9ea;
        }

        .dis2 {
            color: #6a6f74;
            font-size: 15px;
            margin-top: 7px;
        }


        .inputs-select select:focus {
            outline: none;
            border-color: #0866ff;
        }

        .inputs-select{
            display: flex;
            gap: 35px;
            
         select {
            cursor: pointer;
            padding: 15px 5px;
            border-radius: 6px;
            margin-top: 20px;
            border: 1px solid #cccccc7a;
            width: 100px;
            background-color: #000;
            color: #6a6f74

           
        }
    }

    .bottom {
        background-color: #787a7a;
        width: 80%;
        display: block;
        margin: auto;
        margin: 30px auto 10px;
        text-align: center;
        padding: 20px;
        border-radius: 9px;
        cursor: pointer;
    }
}

.inputs-select select#month {
    width: 150px;
}

    
