.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;


    h1 {
        width: 300px;
        line-height: 35px;    
    }


    p {
        color: #71767b;
        width: 301px;
        line-height: 21px;
        margin: 21px;
    }


    bottom {
        width: 250px;
        text-align: center;
        padding: 20px;
        border-radius: 30px;
        color: #000;
        background-color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
}