.Personal__post {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #50555c85;

    .img__Personal {

        width: 50px;
        height: 50px;
        border-radius: 50% ;

        img {
            width: 100%;
            border-radius: 50% ;
        }
    }

    .input-fake {
        background-color: transparent;
        width: 75%;
        border-radius: 28px;
        display: flex;
        align-items: center;
        justify-content: start;
        padding:  10px;
        color:#71767b ;
        border: 1px solid #50555c85;
    }



    .icons {

        display: flex;

        span {

            display: block;
            margin-left: 10px;
   

            svg {
                fill: #1d9bf0;
            }
        }
    }
}




//=============> style modal <=================//  



.Personal__modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
}

.overlay {
    background-color: rgb(253 253 253 / 30%);;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}


.post {
    padding: 10px 0;
    max-width: 80vw;
    min-width: 600px;
    min-height: 250px;
    max-height: 90vh;
    border-radius: 16px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    width: 550px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    z-index: 11;



    .top__post {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;



        .close {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            cursor: pointer;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            transition: .3s;
        }

        .close:hover, p:hover{
            background-color: #50555c85;
        }

        p {
            color: rgb(29, 155, 240);
            font-weight: 500;
            cursor: pointer;
            margin-right: 10px;
            padding: 4px 15px;
            border-radius: 13px;
            transition: .3s;
        }
    }


    .post__content {
        margin-top: 12px;
        padding: 5px 9px;
        display: flex;

        
    .box__image {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;


        img {
            height: 40px;
            border-radius: 50%;
        }
    }

    .text-area {
        width: 90%;


        textarea {
        padding: 5px;
        width: 100%;
        font-size: 20px;
        color: #fff;
        background-color: transparent;
        outline: none;
        border: 1px solid transparent;
        resize: none;
    }
    }

     
    }


    .everyone {
        width: 98%;
        margin: auto;
        border-bottom: 1px solid rgba(80, 85, 92, 0.5215686275);
        padding-bottom: 10px;
       
       
        span {
        font-size: 16px;
        cursor: pointer;
        padding: 0px 9px ;
        color: rgb(29, 155, 240);
        display: flex;
        align-items: center;
        font-weight: 500;
        width: fit-content;
        border-radius: 30px;
        transition: .3s;


        p {
            margin-top: -5px;
        }
        }


        span:hover {
            background-color: rgba(80, 85, 92, 0.5215686275);
        }
      
        svg {
            fill:rgb(29, 155, 240);
            margin-right: 1px;
        }
    }




    .last {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px 0px;

        .icons {
            display: flex;

            span {
            width: 30px;
            height: 30px;
            cursor: pointer;
            color: rgb(29, 155, 240);
            justify-content: center;
            align-items: center;
            font-weight: 500;
            border-radius: 30px;
            transition: .3s;
            margin-right: 15px;
            display: flex;
            }

            span:hover {
                background-color: rgba(80, 85, 92, 0.5215686275);
            }

        }


        svg {
             fill:rgb(29, 155, 240);
        }

        .icons {
            width: 90%;
        }


        input {
            cursor: pointer;
            padding:10px 20px;
            background-color: #1d9bf0;
            border: 1px solid #1d9bf0;
            color: #fff;
            border-radius: 19px;
            font-size: 16px;
        }
    }
  
}



